{% extends 'base.html' %} 
{% load static %}
{% block title %}About{% endblock %} {% block content %}

  <div class="container-fluid my-0 px-0 mb-3">
  <img
    src="{% static 'images/about-us.jpg' %}"
    height="550"
    class="d-block w-100"
    alt="..."
    style="object-fit: cover;"
  />
</div>
<div class="" style="margin-inline: 80px;">
  <h3 class="my-4">About Us</h3>
  <h5>GoNZ</h5>
  <p>
    GoNZ is a vibrant travel brand that is dedicated to YOU - the customer. As
    we are 100% New Zealand owned and operated, we understand what kiwi’s want
    when they travel and deliver on this every time. Our aim is to continue to
    be the market leader in the travel industry and to take it up another level
    for you.
  </p>
  <br>
  <h5>Exclusive Deals</h5>
  <p>
    So we can offer you the best travel deals, we only work with the most
    trusted people and partners in the travel industry. By having exclusive
    deals with airlines and travel providers - you always get the finest value
    for money.
  </p>
  <br>
  <h5>Customized for You</h5>
  <p>
    GoNZ Agents are the unrivalled experts in these key specialist areas; a
    Cruising program, Unique Experiences, Business for our corporate clients as
    well as being the preferred travel retailer for Luxury Holidays. We also
    have a range of payment options for our customers including EFTPOS, credit
    cards, Q Card and GEM Visa Card. Contact usn to find out what we can do for
    you.
  </p>
  <br>
  <h5>Leader in Travel Industry</h5>
  <p>
    GoNZ provides excellent services and customer satisfaction. Our customer feedback 
    reflects our services, and we always try to make your travel memorable one.
  </p>
</div>

{% endblock content %}
